*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.success-msg{
  width: 100%;
  padding: 14px;
  background-color: #dff0d8;
  color: #468847;
}

.error-msg{
  width: 100%;
  padding: 14px;
  background-color: #f0d0d3;
  color: #df786f;
}

.addlink{
  text-decoration: none;
  color:#aaaaaa;
  margin-top:6%;
}

.addlink:hover{
  color:#ccc;
}

body {
  background-color: #f2f2f2;
}

.admin-table-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  background-color: #fff;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.admin-table th {
  background-color: #e0e0e0;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.admin-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-table tr:hover {
  background-color: #ddd;
}
